# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# ML models
*.pkl

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Flutter
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/.flutter-plugins
flutter_app/pubspec.lock
